body {
  background-color: $primary-white-colour;
}

html {
  background-color: $primary-white-colour !important;
}

.primary-header-colour {
  background-color: $primary-header-colour;
}

.primary-background-colour {
  background-color: $primary-background-colour;
}

.secondary-background-colour {
  background-color: $secondary-background-colour;
}
