$primary-header-colour: #FDD947;
$secondary-header-colour: #252525;

$primary-background-colour-2: #444444;
$primary-background-colour: #716f6f;
$secondary-background-colour: #252525;

$primary-button-colour: #FDD947;

$primary-white-colour: #D5D5D5;
