$primary-header-colour: #FDD947;
$secondary-header-colour: #222f54;

$primary-background-colour: #444444;
$secondary-background-colour: #252525;

$primary-button-colour: #e74540;

$primary-white-colour: #D5D5D5;
